/*Style Sheet for Inventory Scene */
/* . is for specific item and hashtag is for the whole thing*/

.rootPane{
    -fx-background-color: WHITE;
}

.m_inventory_add {
    -fx-background-color: #3FB38E;
    -fx-background-radius: 15;
    -fx-text-fill: white;
}

.m_inventory_search_anchor {
    -fx-background-color: linear-gradient(to right, #3D230E, #22B08B, #ABBF9A);
    -fx-background-radius: 30;

    -fx-text-fill: WHITE;
}

.m_inventory_search{

    -fx-background-color: WHITE;
    -fx-background-radius: 30;

    -fx-text-fill: BLACK;
    -fx-opacity: 0.5;
}

.inventory_table{
    -fx-background-color: WHITE;
    -fx-border-color: #DBDBDB;
}


.table-view .table-row-cell {
    -fx-border-color: transparent white #d3d3d3 white; /* top right bottom left */
    -fx-border-width: 0 1 1 1; /* only bottom */


    -fx-background-color: WHITE;

    -fx-min-height: 50px;   /* minimum row height */
    -fx-pref-height: 50px;  /* preferred row height */
    -fx-max-height: 50px;   /* maximum row height */
}

.table-view .table-row-cell:selected {
    -fx-background-color: #3FB38E; /* light highlight on hover */
}

.table-view .table-cell {
    -fx-border-color: transparent; 


     -fx-padding: 15 20 10 20;
}








