@font-face {
    font-family: "Inter";
    src: url("Fonts/Inter_24pt-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Inter";
    src: url("Fonts/Inter_24pt-Extrabold.ttf");
    font-weight: 800;
}

.scroll-pane,
.scroll-pane>.viewport,
.scroll-pane .content {
    -fx-background-color: transparent;
}

.middle-text {
    -fx-font-family: "Inter";
    -fx-font-style: italic;
    -fx-font-weight: 800;
    -fx-font-size: 95px;
}

.TopBottom-text {
    -fx-font-family: "Inter";
    -fx-font-weight: 800;
}

/*Login Scene*/
.Text-Fields {
    -fx-background-color: #ABBF9A;
    -fx-background-radius: 20;
}


/* Stylesheet for Laitte Homepage */
.my-button {
    -fx-background-color: #FFFFFF80;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8px 20px;
    -fx-background-radius: 30;
    -fx-cursor: hand;
    -fx-pref-width: 150;
    -fx-alignment: center;
}

.my-button:hover {
    /*-fx-background-color: linear-gradient(to right, #7b2be3, #3c85ff);*/
    -fx-background-color: WHITE;
}

.my-button:pressed {
    -fx-background-color: WHITE;
}

.profile-pic {
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-border-color: white;
    -fx-border-width: 3;
    -fx-padding: 0;
    -fx-shape: "M0 50 A50 50 0 1 1 100 50 A50 50 0 1 1 0 50";
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0, 0, 2);
    /* circle */
}

/* linear-gradient(to bottom,  #FCE6CC,  #4B2A11,  #010302)*/
.my-menuButton {
    -fx-background-radius: 30px;
    -fx-background-color: linear-gradient(to bottom, #22B08B, #ABBF9A);
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-cursor: hand;
}

.setting-logout-button {
    -fx-background-radius: 30px;
    -fx-background-color: #FFFFFF80;
}

.setting-logout-button:hover {
    /*-fx-background-color: linear-gradient(to right, #7b2be3, #3c85ff);*/
    -fx-background-color: WHITE;
}

<<<<<<< HEAD
/* Active sidebar button */
.my-button.active {
    -fx-background-color: #4B2A11;  /* dark background for active */
    -fx-text-fill: white;           /* white text */
    -fx-font-weight: bold;          /* make text bold */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 5, 0, 0, 2); /* optional subtle shadow */
}
=======
.current-page-button {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8px 20px;
    -fx-background-radius: 30;
    -fx-cursor: hand;
    -fx-pref-width: 150;
    -fx-alignment: center;
}
>>>>>>> origin/master
